@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root {
    --main-color:hsl(257, 40%, 49%)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100vw;
    height: 100%;
    background-color: var(--main-color);
    background-image: url('../images/bg-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* header */
.container__header {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 4rem;
}

.container__header nav a img {
    width: 12rem;
}

/* container information */
.container__info {
    width: 100vw;
    height: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container__info--image {
    width: 80%;
}

.container__info--image img {
    width: 100%;
}

.container__info--description {
    width: 100vw;
    height: auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.container__info--description h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    width: 27rem;
}

.container__info--description p {
    text-align: center;
    font-size: 1.4rem;
    width: 30rem;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;
    font-weight: 100;
    letter-spacing: 1px;
}

.container__info--description button {
    width: 19rem;
    height: 3.5rem;
    border-radius: 100px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    box-shadow: 2px 2px 20px 0px;
    color: #3c3838;
    cursor: pointer;
}

.container__info--description button span {
    color: #673ab7;
}

/* footer */
.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__social a img {
    width: 3rem;
}

.logo {
    width: 8rem;
    margin-top: 70px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* media queries */

@media (min-width:1024px) {
    .container {
        background-image: url('../images/bg-desktop.svg');
        height: 100vh;
        background-size: cover;
    }

    .container__header {
        padding: 0 6rem;
    }

    .container__header nav a img {
        width: 15rem;
    }

    .container__info {
        flex-direction: row;
        padding: 0 6rem;
    }

    .container__info--image {
        width: 155%;
    }

    .container__info--description {
        width: 100%;
        margin: 0;
        padding-left: 5rem;
        align-items: initial;
    }

    .container__info--description h1 {
        font-size: 3rem;
        font-weight: 400;
        text-align: inherit;
        width: 35rem;
    }

    .container__info--description p {
        text-align: justify;
        font-size: 1.4rem;
        width: 35rem;
        letter-spacing: 0;
    }

    .container__info--description button {
        width: 12rem;
    }

    .footer {
        height: 10rem;
    }

    .logo {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer {
        height: 10rem;
        justify-content: flex-end;
        padding: 0 6rem;
    }
}

@media (min-width: 1440px) {
    .container {
        height: 100%;
    }

    .container__info {
        align-items: inherit;
    }

    .container__info--description {
        margin: 80px 0 0 0;
    }

    .container__info--description h1 {
        font-size: 4rem;
        width: 45rem;
    }

    .container__info--description p {
        font-size: 1.6rem;
        width: 45rem;
        letter-spacing: 0;
    }

    .container__info--description button {
        width: 17rem;
        height: 5rem;
        font-size: 1.6rem;
    }
}