@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #673ab7;
    background-image: url('../images/bg-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* header */
.container__header {
    height: 150px;
    display: flex;
    align-items: center;
    margin-left: 70px
}

.container__header nav img {
    width: 200px;
}

/* container information */
.container__info {
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
}


.container__info--image {
    width: 50%;
}

.container__info--image img {
    width: 100%;
}

.container__info--description {
    width: 40%;
    padding-left: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container__info--description h1 {
    font-size: 2.5em;
}

.container__info--description p {
    text-align: justify;
    font-size: 1em;
}

.container__info--description button {
    width: 220px;
    height: 60px;
    border-radius: 100px;
    outline: none;
    border: none;
    font-size: 20px;
    box-shadow:  2px 2px 20px 0px;
    color: #3c3838;
    cursor: pointer;
}

.container__info--description button span {
    color: #673ab7;
}

/* footer */
.footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.logo__social a img {
    width: 40px;
}

.footer nav {
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 9em;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

/* media queries */

@media screen and (max-width: 1250px) {
    .container__info--description h1 {
        font-size: 1.8em;
    }

    .container__info--description button {
        width: 180px;
        height: 50px;
    }
}

@media screen and (max-width: 938px) {
    .container {
        background-size: cover;
    }

    .container__info--description h1 {
        font-size: 1.3em;
    }

    .container__info--description p {
        text-align: justify;
        font-size: 0.9em;
    }

    .container__info--description button {
        width: 170px;
        height: 50px;
    }
}

@media screen and (max-width: 626px) {
    .container {
        width: 100%;
        height: 100%;
        background-image: url('../images/bg-mobile.svg');
    }

    .container__info {
        display: flex;
        flex-direction: column;
    }

    .container__info--image {
        width: 100%;
    }

    .container__info--description {
        width: 100%;
        padding-left: 0;
    }

    .container__info--description button {
        margin-top: 10px;
    }
}

@media screen and (max-width: 426px) {
    .container {
        background-size: contain;
        background-position: top;
    }

    .container__header {
        height: 150px;
    }

    .container__info--description h1 {
        text-align: center;
    }

    .container__info--description p {
        text-align: center;
    }

    .container__info--description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__info--description button {
        width: 15em;
        height: 35px;
        font-size: 12px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer nav {
        margin: 15px 0 0 0;
    }
}

@media screen and (max-width: 321px) {
    .container {
        height: 100vh;
    }

    .container__header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .container__info--description h1 {
        font-size: 1em;
    }

    .container__info--description p {
        font-size: 0.7em;
    }
}